* {
    color: ;
    background-color:;
} 


.jumbotron {
    background-color: aqua;
    display: block;
}

body {
    background-image: url(https://66.media.tumblr.com/d863e5762c6e6f7ed600573374427594/tumblr_odum43ze3e1r21v4mo1_r1_400.png);
}

h1, h2, h3, h4, h5, h6, strong, small {
    background-color: aqua;
    color: blueviolet;
    display: block;
}

#win-counter, #loss-counter, #guesses-left, #wrong-guesses {
    background-color: aqua;
    color: blueviolet;
    display: block;
}
